
.myInput {
    font-size: 16px; 
    border: 1px solid #ff4e4e;
    border-radius: 4px; 
    background-color: #fad0d0;
    transition: border-color 0.3s ease-in-out; 
    padding: 12px 20px;
    margin: 8px 0;
  }
  
  
  .myInput:focus {
    border-color: #df5d5d;
    outline: none; 
  }
  
  
  .myInput:hover {
    border-color: #a70000c2;
  }
  